/*あ*/
* {
    font-size: 1rem;
}
small, rp, rt, sub, sup {
    font-size: initial;
}
time {
    white-space: nowrap;
}
h1 {
    color: rgb(10, 186, 181);
}
blockquote {
    border: solid .0625rem rgb(10, 186, 181);
    padding: 0 1rem;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}
td, th {
    border: solid 1rem rgb(80, 80, 80);
    padding: 0 .5rem;
}
:link {
    color: rgb(10, 186, 181);
}
:visited {
    color: rgb(10, 186, 181);
    text-decoration: none;
}
